block content
  .responsive-heading.col-md-4.text-center
    h4.gray-light.col-centered.headline Vote & we will approach the celebrities with the most popular items
  .container
    .row
      .gameSection.center-block.responsive-heading
        h1.responsive-heading.text-center.gameTitle(ng-model='counter') {{celebItem.itemTitle}}
        div
          div.face-wrapper.pull-left
            img.img-circle.face(ng-src='{{celebItem.celebURL}}', width='70', height='70')
          div.v-middle
            h4 {{celebItem.celebName}}
          div.pull-right
            | {{counter+1}}/{{maxItems}}
        div.imgSection
          img.img-responsive(src='{{celebItem.itemURL}}')
        br
        .col-md-6.col-sm-12.text-center(style='margin-bottom: 20px;')
          a.btn.btn-success.btn-lg.btn-responsive( style='width:200px;', ng-class="{'disabled': inProgress == true}", ng-click='changeItem(1)')
            i.fa.fa-heart.fa-6
            | &nbsp;I Want this
        .col-md-6.col-sm-12.text-center
          a.btn.btn-danger.btn-lg.btn-responsive( style='width:200px;', ng-class="{'disabled': inProgress == true}", ng-click='changeItem(-1)')
            i.fa.fa-times.fa-6
            | &nbsp;Not Interested


  //.comingSoonEmail
  //  .container
  //    h4.gray-lighter.text-center.text-uppercase
  //      | STAY UPDATED
  //    br
  //    form.form-inline(method='POST', action='comingsoon')
  //      .row-fluid.text-center
  //        input(type='hidden', name='_csrf', value=_csrf)
  //        input.form-control(style='width:300px', type='email', name='email', id='email', placeholder='Enter your email', required)
  //        button.btn.btn-primary.btn-reset(type='submit') Sign up