block content
  .responsive-heading.col-md-4.text-center
    h4.gray-light.col-centered.headline.text-center Vote & we will approach the celebrities with the most popular items
  .container(ng-controller='gameCtrl')
    .row
      .gameSection.center-block
        h2.text-center.gameTitle(ng-model='counter') {{celebItem.itemTitle}}
        div.bottom
          div.face-wrapper.pull-left
            img.img-circle.face(ng-src='{{celebItem.celebURL}}', width='70', height='70')
          div.v-middle
            h4 {{celebItem.celebName}}
        div.imgSection
          img.img-responsive(ng-src='{{celebItem.itemURL}}')
        form
          input(type='hidden', name='_csrf', value=_csrf)
          .col-md-6.text-center(style='margin-bottom: 20px;')
            a.btn.btn-success.btn-lg.btn-responsive( style='width:200px;', ng-class="{'disabled': inProgress == true}", ng-click='changeItem(1)')
              i.fa.fa-heart.fa-6
              | &nbsp;I Want this
          .col-md-6.text-center
            a.btn.btn-danger.btn-lg.btn-responsive( style='width:200px;', ng-class="{'disabled': inProgress == true}", ng-click='changeItem(-1)')
              i.fa.fa-times.fa-6
              | &nbsp;Not Interested
    div.progressSection
      progressbar(value='votePercentage', type='primary')
        span(ng-show='showProgress') {{votePercentage}}%
      div.text-center(ng-show='showProgress')
        | {{votePercentage}}% of people want this




  //.comingSoonEmail
  //  .container
  //    h4.gray-lighter.text-center.text-uppercase
  //      | STAY UPDATED
  //    br
  //    form.form-inline(method='POST', action='comingsoon')
  //      .row-fluid.text-center
  //        input(type='hidden', name='_csrf', value=_csrf)
  //        input.form-control(style='width:300px', type='email', name='email', id='email', placeholder='Enter your email', required)
  //        button.btn.btn-primary.btn-reset(type='submit') Sign up