block content
  .headline.responsive-heading.col-md-4.text-center
    h4.gray-light Vote & we will approach the celebrities
      bt
     h4.gray-light with the most popular items
  .container
    .row
      .gameSection.center-block
        h2.text-center.gameTitle Red Couch on the Ellen Show
        div.bottom
          div.face-wrapper.pull-left
            img.img-circle.face(src='img/game/ellen_head.png', width='100', height='100')
          div.v-middle
            h4 Ellen Degeneres
        div.imgSection
          img.img-responsive(src='img/shop/ellen1.png')
        .col-md-6.text-center(style='margin-bottom: 20px;')
          a.btn.btn-success.btn-lg.btn-responsive(href='#', style='width:200px;')
            i.fa.fa-heart.fa-6
            | &nbsp;I Want this
        .col-md-6.text-center
          a.btn.btn-danger.btn-lg.btn-responsive(href='#', style='width:200px;')
            i.fa.fa-times.fa-6
            | &nbsp;Not Interested


  //.comingSoonEmail
  //  .container
  //    h4.gray-lighter.text-center.text-uppercase
  //      | STAY UPDATED
  //    br
  //    form.form-inline(method='POST', action='comingsoon')
  //      .row-fluid.text-center
  //        input(type='hidden', name='_csrf', value=_csrf)
  //        input.form-control(style='width:300px', type='email', name='email', id='email', placeholder='Enter your email', required)
  //        button.btn.btn-primary.btn-reset(type='submit') Sign up