doctype html
html(lang="en")
  include ../home/head
  body.boxed(ng-app="dezboapp" ng-controller='gameCtrl')
  include navigation
  include ../home/flash
  include body
  include ../home/footer-script