script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-540f8ed6699d23bb')
script.
  var addthis_config = {
       data_track_clickback: false
  }
.container-fluid.bg-gray-verylight
  .row
    .col-xs-12.col-md-4.gamelogo
      a(href='/')
        img.img-responsive.center-block(src='/img/logo.png')
    .col-sm-12.col-md-4
      div.text-center.navtagline
        h5.gray-dark I want these products on Dezbo!
    .col-sm-12.col-md-4.center-block
      .socialIcons.text-center.gray
        div.addthis_horizontal_follow_toolbox(style='width: 110px;margin: 0 auto;')