script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-540f8ed6699d23bb')
script.
  var addthis_config = {
       data_track_clickback: false
  }
nav#topNav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .logo(style='padding-left:40px;')
    a.navbar-brand(href='/')
      img(src='/img/logo.png')
  .container
    ul.navbar-nav
      li.divider-vertical
      li
        h3.gray-dark "Celebrity Items for a Cause"
      li.divider-vertical
    .pull-right
      .socialIcons.text-center.gray-lighter.pull-right
        div.addthis_horizontal_follow_toolbox
