doctype html
html(lang="en")
  include ../home/head
  body.boxed(id="topNav" ng-app="dezboapp" ng-controller='resultCtrl')
  include navigation
  include ../home/flash
  .container
    .row
      h2.text-center Most Wanted Items in Dezbo
      br
      div.text-center.gray-light Results are sorted by the number of fans who want the item
      br
      .col-md-6.col-md-offset-3
        div(ng-repeat="result in voteResults")
          | {{result.title}}
          progressbar(value='100*result.voteup/(topvotecount)', type='primary')
            span {{result.voteup }} wants
      br
    .row
      h4.text-center
        | STAY UPDATED
      br
      form.form-inline(method='POST', action='gamesignup')
        .row-fluid.text-center
          input(type='hidden', name='_csrf', value=_csrf)
          input.center-block.form-control(style='width:300px', type='email', name='email', id='email', placeholder='Enter your email', required)
          button.btn.btn-primary.btn-reset(type='submit') Sign up
    //.row
    //  .col-md-6.col-md-offset-3.text-center
    //    br
    //    div
    //      h4 Stay Updated
    //      input.form-control(style='min-width=200px', ng-model='emailAddress', type='email', name='email', id='email', placeholder='Enter your email', required)
    //      br
    //      button.btn.btn-primary.btn-reset(ng-click='signup(emailAddress)') Sign up
  include ../home/footer-script