doctype html
html(lang="en")
  include ../home/head
  body.boxed(id="topNav" ng-app="dezboapp" ng-controller='resultCtrl')
  include navigation
  include ../home/flash
  .container
    .row
      h2.text-center Most Wanted Items On Dezbo
      br
      div.text-center.gray-light Results are sorted by the number of most wanted items
      br
      .col-md-6.col-md-offset-3
        div(ng-repeat="result in voteResults")
          | {{result.title}}
          progressbar(value='100*result.voteup/(topvotecount)', type='primary')
            span {{result.voteup }} wants
        div.text-center(style='padding-top:20px')
          iframe(width='560', height='315', src='//www.youtube.com/embed/UVOxtQ_xmgM', frameborder='0', allowfullscreen='')
    .row
      br
      h4.text-center
        | STAY UPDATED
      br
      form.form-inline(method='POST', action='gamesignup')
        .row-fluid.text-center
          input(type='hidden', name='_csrf', value=_csrf)
          input.center-block.form-control(style='width:300px', type='email', name='email', id='email', placeholder='Enter your email', required)
          button.btn.btn-primary.btn-reset(type='submit') Sign up
  include ../home/footer-script