doctype html
html(lang="en")
  include ../home/head
  body.boxed(id="topNav" ng-app="dezboapp" ng-controller='resultCtrl')
  include navigation
  .container
    .row
      h2.text-center Top 5 Items in Dezbo
      br
      .col-md-6.col-md-offset-3
        div(ng-repeat='result in voteResults')
          | {{result.title}} ({{result.voteup}} likes)
          progressbar(value='30', type='primary')
            span {{100*result.voteup/(result.votedown + result.voteup) | number:0}}% of fans want it

  include ../home/footer-script