#footer
  .footer-bar
    .container
      span.copyright Copyright © Dezbo . All Rights Reserved
      a.toTop(href='#topNav')
        | BACK TO TOP
        i.fa.fa-arrow-circle-up
    .footer-content
      .container
        .row.column.col-md-8
          h3
            strong About Dezbo
          .post-item
            .column.col-md-4
              h3
                a(href='blog-post.html') Terms
              h3
                a(href='blog-post.html') Privacy
            .column.col-md-4
              h3
                a(href='blog-post.html') FAQ
              h3
                a(href='blog-post.html') About us
            .column.col-md-4
              h3
                a(href='blog-post.html') Contact
              h3
                a(href='blog-post.html') Jobs
            .column.col-md-4
        .column.col-md-4.text-right
          h3.
            i.fa.fa-twitter
            strong Follow
            | Us
          .post-item
            a.social.fa.fa-facebook(href='#')
            a.social.fa.fa-twitter(href='#')
            a.social.fa.fa-google-plus(href='#')
//- Load jQuery, food for thought:
//- https://palant.de/2014/06/30/please-don-t-use-externally-hosted-javascript-libraries
script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
//- Backup just in case
script window.jQuery || document.write('<script src="/lib/jquery/dist/jquery.min.js"><\/script>')
//- Then use jQuery to async load everything else
script(src='lib/revolution-slider/js/jquery.themepunch.plugins.min.js')
script(src='lib/revolution-slider/js/jquery.themepunch.revolution.min.js')
script(src='lib/revolution-slider/js/slider_revolution.js')
script.
  $(document).ready(function() {
    //- Async load main project js
    $.ajax({
      type: 'GET',
      url: '/js/#{application}.min.js',
      dataType: 'script',
      cache: true
    }).done(function () {
      window.addEventListener('load', function() {
        FastClick.attach(document.body);
      }, false);
    });
    //- Async load socket.io
    $.ajax({
      type: 'GET',
      url: '//cdn.socket.io/socket.io-1.0.6.js',
      dataType: 'script',
      cache: true
    }).done(function () {
      $(function(){
        var socket = io(window.location.hostname);
        socket.on('connect', function () {
          socket.emit('pageview', window.location.href);
        });
        window.onhashchange = function () {
          socket.emit('pageview', window.location.href);
        };
      });
    });
  });
