ul.nav li:hover {
    background-color: #007695;
}

.navbar-inverse .navbar-nav>li>a {
    color:#fff !important;
    font-weight:bold;
}
@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}
.divider-vertical {
    height: 50px;
    margin: 0 1px;
    border-right: 1px solid #505050;
}
.active-nav{
    text-decoration-color: #ffffff;
    color: #ffffff;
    background-color: #007695;
}

.carouselSize{
    height:340px;
    overflow: hidden;
}
.slider-caption{
    top: 1em;
    position:absolute;
}
.slider-font h1{
    color: #ffffff !important;
    font:arial, sans-serif;
    text-shadow: #000111 0px 2px 5px;
    font-size: 14px !important;
    font-size: 1.5vw !important;
}

.slider-border{
    background: url(../img/shadow1.png) no-repeat;
    background-size: 100% 100%;
}

