ul.nav li:hover {
    background-color: #007695;
}

.navbar-inverse .navbar-nav>li>a {
    color:#fff !important;
    font-weight:bold;
}
@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}
.divider-vertical {
    height: 50px;
    margin: 0 1px;
    border-right: 1px solid #505050;
}
.active-nav{
    text-decoration-color: #ffffff;
    color: #ffffff;
    background-color: #007695;
}

.carouselSize{
    top:0;
    height:340px;
    overflow: hidden;
}

.slider-caption{
    position: absolute;
    display:block;
    margin-top:240px;
    margin-left:40px;
}

.slider-caption h1{

}

.slider-caption h3{
    text-transform: uppercase;
}

.slider-border{
    background: url(../images/shadow1.png) no-repeat;
    background-size: 100% 100%;
}

@media all and (max-device-width: 640px){
    .slider-caption{
        position: absolute;
        display:block;
        margin-top:30px;
    }
    .slider-font h1{
        color: #ffffff !important;
        text-shadow: #000111 1px 2px 1px;
        font-size: 20px !important;
    }

    .slider-font h3{
        color: #ffffff !important;
        text-shadow: #000111 1px 2px 1px;
        font-size: 16px !important;
    }
    .slider-font button{
        white-space: normal;
        width: 100px;
    }
}

@media all and (max-device-width: 320px){
    .slider-caption{
        position: absolute;
        display:block;
        margin-top:10px;
    }
    .slider-font h1{
        color: #ffffff !important;
        text-shadow: #000111 1px 2px 1px;
        font-size: 14px !important;
    }

    .slider-font h3{
        color: #ffffff !important;
        text-shadow: #000111 1px 2px 1px;
        font-size: 12px !important;
    }
    .slider-font button {
        white-space: normal;
        width: 100px;
    }
}

.featured-box{
    vertical-align: middle;
}