.comingSection {
  padding-top:100px;
  height: 400px;
  background-image: url(../img/ComingSoon.png);
  background-size: cover;
  color: #ffffff;
  h1 {
    margin-top: 0;
  }
}
iframe {
  max-width: none;
}