.comingSection {
  padding-top:100px;
  height: 400px;
  background-image: url(../img/comingSoon/ComingSoon.png);
  background-size: cover;
  color: #ffffff;
  h1 {
    margin-top: 0;
  }
}
iframe {
  max-width: none;
}
.voteSection{
  padding-left:4px;
  margin-top: 90px;
  .socialVote{
    width:100%;
  }
}
.voteCountdown{
  width:100%;
}

.thumbnail{
  max-width: 400px;
  min-height: 340px;
  border: 1px solid #8f8f8f !important;
}