/** 01. Globals
 **************************************************************** **/
html {
  overflow-x: hidden;
  overflow-y: auto;
}

html, body {
  min-height: 100%;
}

// remove empty space on the right for mobile
html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

.wrapper {
  position:relative;
  background-color:#f4f5f7; /* if background image used */
  overflow:hidden;
  margin:0; padding:0;
}

section.margin-footer {
  margin-bottom:-92px; /* see wrapper padding */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Old Standard TT', serif !important;
}



/**Boxed Layout
 **************************************************************** **/
body.boxed {
}
body.boxed .wrapper {
  background-color:#f4f5f7;
}

/** Divider
 **************************************************************** **/

.divider {
  border: 0;
  margin: 40px 0;
  height: 4px;
  border-top: #ddd 1px solid;
  border-bottom: #ddd 1px solid;
  text-align: center;
  position: relative;
  clear: both;
}
.divider.half-margins {
  margin:30px 0;
}

.divider .fa {
  color: #bbb;
  background: #f4f5f7; /* same as background color */
  text-align: center;
  display: inline-block;
  height: 50px; line-height: 50px;
  text-align: center;
  width: 50px;
  font-size: 20px;

  position: absolute;
  top: -25px; left: 50%;
  margin: 0 auto 0 -25px;

}

.divider.white .fa { /* for white background color OR white rounded icon */
  background: #fff;
  color: #333;
}

li.divider {
  margin:6px;
}

/** Nav Bar
 **************************************************************** **/
ul.nav li:hover {
  background-color: #007695;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff !important;
  font-weight: bold;
}

.navbar .divider-vertical {
  height: 60px;
  margin: 0 9px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #bbbbbb;
}

.navbar-inverse .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}

@media (max-width: 767px) {
  .divider-vertical {
    display: none;
  }
}

.active-nav {
  text-decoration-color: #ffffff;
  color: #ffffff;
  background-color: #007695;
}
