@import "main";

.bg-ellen-banner {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  //  background: url('../img/product/ellen-banner.png') no-repeat center center fixed;
  //  background-size: 100% 100%;
  //  min-height: 500px;
  background-color: lightgray;
}

.banner-img {
  max-width: 100%;
}

.trapezoid {
  border-bottom: 100px solid #252525;
  border-left: 25px solid transparent;
  width: 400px;
}

.parallelogram {
  width: 512px;
  height: 287px;
  -webkit-transform: skew(-12deg);
  -moz-transform: skew(-12deg);
  -o-transform: skew(-12deg);
}

.banner-text {
  /* z-index: 100; */
  /* right: 50%; */
  bottom: 0;
  /* width: 500px; */
  color: white;
  background-color: rgba(36, 35, 35, .89);
}

.banner-text:before {
  font-size: 0;
  left: -30px;
  content: '';
  border-top: 111px solid transparent;
  border-right: 30px solid #2c2a2a;
  border-bottom: 0 solid #373535;
  border-left: 0 solid transparent;
}

.font-number {
  font-family: @font-family-dezbo;
}

.chairty-v-middle {
  display: table-cell;
  vertical-align: middle;
  float: none;
  height: 250px;
  max-width: 700px;
}

.divider-left {
  border-left: 4px solid @gray-lighter;
}

.divider-right {
  border-right: 4px solid @gray-lighter;
}
.product-margin-top{
  margin-top:20px;
}
.progress-bg-override{
  .progress{
    background-color: @gray-lighter !important;
  }
}
.scroll-box {
  border: 1px solid red;
  width: 200px;
  height:60px;
  overflow: hidden;
  font-size: 0;
}
.scroll-box ul li {
  display: inline-block;
  margin: 10px 0 10px 10px;
}
.scroll-box ul {
  width: 200px;
  height: 60px;
  margin: 0;
}

.newsticker{
  height:30px !important;
}
.newsticker li {
  color: @gray-dark;
  background: @gray-lighter;
  overflow: hidden;
  height: 30px;
  padding: 5px;
  list-style: none;
  font-size: 16px;
}
