.trapezoid {
  border-bottom: 100px solid #252525;
  border-left: 25px solid transparent;
  width: 400px;
  right:0;
}

.parallelogram {
  width: 250px;
  height: 180px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
}
