body.boxed.bg-gray-darker(id="topNav" ng-app="dezboapp" style="padding-top:0")
  block content
    script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-540f8ed6699d23bb')
    script.
      var addthis_config = {
           data_track_clickback: false
      }
    .comingSection.jumbotron.white
      img.img-responsive.col-centered(src='img/coming_soon/logo_coming_soon.png', width='400px' alt='')
      br
      h4.text-center.text-uppercase.gray-verylight Celebrity Items for a Cause
      .socialIcons.text-center.gray-lighter
        div.addthis_horizontal_follow_toolbox

    .comingSoonEmail
      .container
        h4.gray-lighter.text-center.text-uppercase STAY UPDATED
        br
        form.form-inline(method='POST', action='comingsoon')
          .row-fluid.text-center
            input(type='hidden', name='_csrf', value=_csrf)
            input.form-control(style='width:300px', type='email', name='email', id='email', placeholder='Enter your email', required)
            button.btn.btn-primary.btn-reset(type='submit') Sign up
