doctype html
html(lang="en")
  include head
  body.boxed(id="topNav" ng-app="dezboapp" style="padding-top:0")
    block content
      script#twitter-wjs(src='http://platform.twitter.com/widgets.js')
      script.
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      .comingSection.jumbotron.white
        h1.text-center.text-uppercase Something Awesome is Coming
        img.img-responsive.col-centered(src='img/coming_soon/logo_coming_soon.png', width='400px' alt='')
      div
        .container
          .row
            br
            h3.text-center.text-uppercase.htitle 10000 likes/tweets
            .col-md-4.col-sm-4
              .thumbnail
                img.img-responsive(src='img/shop/ellen1_small.png', width='363', height='263', alt='')
                .voteSection
                  h5 Ellen’s Red Couch on the Ellen Show
                  .socialVote
                    iframe(src='//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.dezbo.com&width&layout=button_count&action=like&show_faces=true&share=true&height=21&appId=281205038733656', scrolling='no', frameborder='0', style='border:none; overflow:hidden; height:21px;', allowTransparency='true')
                    a.twitter-share-button(href='https://twitter.com/share') Tweet
                .voteCountdown.bg-brand1.text-center.white
                      | Ending Nov 5, 2014
            .col-md-4.col-sm-4
              .thumbnail
                figure
                  img.img-responsive(src='img/shop/pharrell1_small.png', width='363', height='263', alt='')
                .voteSection
                  h5 Pharrell's Tall Hat
                  .socialVote
                    iframe(src='//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.dezbo.com&width&layout=button_count&action=like&show_faces=true&share=true&height=21&appId=281205038733656', scrolling='no', frameborder='0', style='border:none; overflow:hidden; height:21px;', allowTransparency='true')
                    a.twitter-share-button(href='https://twitter.com/share') Tweet
                .voteCountdown.bg-brand1.text-center.white
                    | Ending Nov 5, 2014
            .col-md-4.col-sm-4
              .thumbnail
                figure
                  img.img-responsive(src='img/shop/gaga1_small.png', width='363', height='263', alt='')
                .voteSection
                  h5 Lady Gaga’s Red Carpet Heels
                  .socialVote
                    iframe(src='//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.dezbo.com&width&layout=button_count&action=like&show_faces=true&share=true&height=21&appId=281205038733656', scrolling='no', frameborder='0', style='border:none; overflow:hidden; height:21px;', allowTransparency='true')
                    a.twitter-share-button(href='https://twitter.com/share') Tweet
                .voteCountdown.bg-brand1.text-center.white
                    | Ending Nov 5, 2014
      .divider.white
        i.fa.fa-star
      .container
        form(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            label.sr-only(for='password') New Password:
            input.form-control(type='password', name='password', id='password', placeholder='New password', autocomplete='off', autofocus=true, required, pattern='^[^\S]{4,}', title='At least 4 characters!')
            .progress
              .progress-bar(role='progressbar')
          .form-group
            label.sr-only(for='confirm') Confirm Password:
            input.form-control(type='password', name='confirm', placeholder='Confirm your new password', autocomplete='off', required, pattern='^[^\S]{4,}', title='At least 4 characters!')
          .form-group
            button.btn.btn-primary.btn-reset(type='submit') Set Password
      div.bg-brand2
        include howItWorks