doctype html
html(lang="en")
  include head
  include flash
  body.boxed(id="topNav" ng-app="dezboapp" style="padding-top:0")
    block content
      #fb-root
      script#facebook-jssdk(src='//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=281205038733656&version=v2.0')
      script.
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=281205038733656&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      script#twitter-wjs(src='http://platform.twitter.com/widgets.js')
      script.
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      .comingSection.jumbotron.white
        h1.text-center.text-uppercase Something Awesome is Coming
        img.img-responsive.col-centered(src='img/coming_soon/logo_coming_soon.png', width='400px' alt='')
      div
        .container
          .row
            br
            h3.text-center.text-uppercase.htitle 10000 likes/tweets
            .col-md-4.col-sm-4
              .thumbnail
                img.img-responsive(src='img/coming_soon/beckham.png', width='363', height='263', alt='')
                .voteSection
                  h5 Ellen’s Red Couch on the Ellen Show
                  .socialVote
                    div.fb-like(data-href='http://www.dezbo.com/img/coming_soon/beckham.png', data-layout='standard', data-action='like', data-show-faces='true', data-share='true')
                    a.twitter-share-button(href='https://twitter.com/share', data-url='http://www.dezbo.com/img/coming_soon/beckham.png', data-text='If we get 1,000 "likes/Tweets", we will contact the celebrity. This contest ends on October 10. http://www.dezbo.com/img/coming_soon/beckham.png #votedezbo', data-hashtags='votedezbo') Tweet
                .voteCountdown.bg-brand1.text-center.white
                  | Ending Nov 5, 2014
            .col-md-4.col-sm-4
              .thumbnail
                figure
                  img.img-responsive(src='img/coming_soon/deadmouse.png', width='363', height='263', alt='')
                .voteSection
                  h5 Pharrell's Tall Hat
                  .socialVote
                    div.fb-like(data-href='http://www.dezbo.com/img/coming_soon/deadmouse.png', data-layout='standard', data-action='like', data-show-faces='true', data-share='true')
                    a.twitter-share-button(href='https://twitter.com/share', data-url='http://www.dezbo.com/img/coming_soon/deadmouse.png', data-text='If we get 1,000 "likes/Tweets", we will contact the celebrity. This contest ends on October 10. http://www.dezbo.com/img/coming_soon/deadmouse.png #votedezbo', data-hashtags='votedezbo') Tweet
                .voteCountdown.bg-brand1.text-center.white
                  | Ending Nov 5, 2014
            .col-md-4.col-sm-4
              .thumbnail
                figure
                  img.img-responsive(src='img/coming_soon/nflball.png', width='363', height='263', alt='')
                .voteSection
                  h5 Lady Gaga’s Red Carpet Heels
                  .socialVote
                    div.fb-like(data-href='http://www.dezbo.com/img/coming_soon/nflball.png', data-layout='standard', data-action='like', data-show-faces='true', data-share='true')
                    a.twitter-share-button(href='https://twitter.com/share', data-url='http://www.dezbo.com/img/coming_soon/nflball.png', data-text='If we get 1,000 "likes/Tweets", we will contact the celebrity. This contest ends on October 10. http://www.dezbo.com/img/coming_soon/nflball.png #votedezbo', data-hashtags='votedezbo') Tweet
                .voteCountdown.bg-brand1.text-center.white
                  | Ending Nov 5, 2014
                  .col-md-4.col-sm-4
              .thumbnail
                figure
                  img.img-responsive(src='img/coming_soon/rihanna.png', width='363', height='263', alt='')
                .voteSection
                  h5 Lady Gaga’s Red Carpet Heels
                  .socialVote
                    div.fb-like(data-href='http://www.dezbo.com/img/coming_soon/rihanna.png', data-layout='standard', data-action='like', data-show-faces='true', data-share='true')
                    a.twitter-share-button(href='https://twitter.com/share', data-url='http://www.dezbo.com/img/coming_soon/rihanna.png', data-text='If we get 1,000 "likes/Tweets", we will contact the celebrity. This contest ends on October 10. http://www.dezbo.com/img/coming_soon/rihanna.png #votedezbo', data-hashtags='votedezbo') Tweet
                .voteCountdown.bg-brand1.text-center.white
                  | Ending Nov 5, 2014
      .divider.white
        i.fa.fa-star
      .container
        form(method='POST', action='comingsoon')
          input(type='hidden', name='_csrf', value=_csrf)
          .form-group
            input.form-control(type='email', name='email', id='email', placeholder='Email', required)
          .form-group
            button.btn.btn-primary.btn-reset(type='submit') Sign up
      div.bg-brand2
        include howItWorks