doctype html
html(lang="en")
  include head
  body.boxed(id="topNav" ng-app="dezboapp" style="padding-top:0")
    block content
      .comingSection
        h2.text-center.text-uppercase Something Awesome Coming