//- Load jQuery, food for thought:
//- https://palant.de/2014/06/30/please-don-t-use-externally-hosted-javascript-libraries

if 'development' != process.env.NODE_ENV
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
else if 'development' == process.env.NODE_ENV
  script(src='/lib/jquery/dist/jquery.min.js')

script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js')
if 'development' != process.env.NODE_ENV
  script(src='/js/#{application}.min.js')
else if 'development' == process.env.NODE_ENV
  script(src='/js/#{application}.js')
script(src="https://js.stripe.com/v2/")
//- Backup just in case
script window.jQuery || document.write('<script src="/lib/jquery/dist/jquery.min.js"><\/script>')
script $.fn.modal || document.write('<script src="/lib/bootstrap/dist/js/bootstrap.min.js"><\/script>')
//- Then use jQuery to async load everything else
script.
  jQuery(document).ready(function($) {
    //- Async load socket.io
    $.ajax({
      type: 'GET',
      url: '//cdn.socket.io/socket.io-1.0.6.js',
      dataType: 'script',
      cache: true
    }).done(function () {
      $(function(){
        var socket = io(window.location.hostname);
        socket.on('connect', function () {
          socket.emit('pageview', window.location.href);
        });
        window.onhashchange = function () {
          socket.emit('pageview', window.location.href);
        };
      });
    });
  });
script.
  jQuery(window).load(function(){
    if(jQuery('.flexslider').length > 0){
      jQuery('.flexslider').flexslider({
        animation: "slide",
        prevText:"",
        nextText:"",
        pauseOnAction: true,            //Boolean: Pause the slideshow when interacting with control elements, highly recommended.
        pauseOnHover: true,            //Boolean: Pause the slideshow when hovering over slider, then resume when no longer hovering
        useCSS: true,
        touch: true,
        controlNav:false
      });
    }
  });
