block content
  .container.homeItems(ng-controller="homeCtrl")
    .divider
      i.fa.fa-star.color-raffle
      .row
        h3.text-center.text-uppercase.htitle ENTER TO WIN
        rafflebox(ng-repeat='item in raffleitems', i='item')
    .divider
      i.fa.fa-star.color-bidding
      .row
        h3.text-center.text-uppercase.htitle START BIDDING
        biddingbox(ng-repeat='item in biddingitems', i='item')
