block content
  .homeItems
    .container
      .divider
        i.fa.fa-star.blue-raffle
      h1.text-center ENTER TO WIN
      .row.raffleItems
        rafflebox(ng-repeat='item in raffleitems', i='item')
    .container
      .divider
        i.fa.fa-star.yellow-bidding
      h1.text-center START BIDDING
      .row.biddingItems
        biddingbox(ng-repeat='item in biddingitems', i='item')
