block content
  .divider
    i.fa.fa-star
  .container.homeItems(ng-controller="homeCtrl")
    .row
      itembox(ng-repeat='item in raffleitems', i='item')
  .divider
    i.fa.fa-star
  .container.homeItems(ng-controller="homeCtrl")
    .row
      h3.text-center.text-uppercase.htitle Bidding
      .col-md-3.col-sm-4
        .thumbnail
          a(href='ellen')
            figure
              img.img-responsive(src='img/shop/ellen2_small.png', width='263', height='263', alt='')
            .item-box
              h5 Ellen’s signed Oscars Selfie
              .bidtitle
                | Current Bid:
                .bidprice $350.00
              .support Supporting The Gentle Barn
                .countdown.bg-brand1.white
                  timer(start-time="1401000000101")
                    | {{days}} d - {{hours}}h:{{minutes}}m:{{seconds}}s
      .col-md-3.col-sm-4
        .thumbnail
            figure
              img.img-responsive(src='img/shop/snoop5_small.png', width='263', height='263', alt='')
            .item-box
              h5 Snoop’s Sunglasses
              .bidtitle
                | Current Bid:
                .bidprice $250.00
              .support
                | Supporting Youth Football League Foundation
                .countdown.bg-brand1.white
                  timer(start-time="1401000000101")
                    | {{days}} d - {{hours}}h:{{minutes}}m:{{seconds}}s
      .col-md-3.col-sm-4
        .thumbnail
          figure
            img.img-responsive(src='img/shop/gaga2_small.png', width='263', height='263', alt='')
          .item-box
            h5 Lady Gaga’s Gloves
            .bidtitle
              | Current Bid:
              .bidprice $784.00
            .support
              | Supporting Born This Way Foundation
              .countdown.bg-brand1.white
                timer(start-time="1401000000101")
                  | {{days}} d - {{hours}}h:{{minutes}}m:{{seconds}}s
      .col-md-3.col-sm-4
        .thumbnail
          figure
            img.img-responsive(src='img/shop/kristine1_small.png', width='263', height='263', alt='')
          .item-box
            h5 Kristen Bell’s Camera
            .bidtitle
              | Current Bid:
              .bidprice $1500.00
            .support
              | Supporting PETA
              .countdown.bg-brand1.white
                timer(start-time="1401000000101")
                  | {{days}} d - {{hours}}h:{{minutes}}m:{{seconds}}s
