block content
  .container-fluid.bg-gray-raffle(style='padding-left:0;padding-right:0')
    #sliderbg
      .container(style='padding-left:0;padding-right:0')
        div.flexslider
          ul.slides
            li.bg-gray-raffle
              include ../celeb/ellen-title
              include ../celeb/ellen-banner
            li
              include ../celeb/pharrell-title
              include ../celeb/pharrell-banner
