block content
  .container-fluid(style='padding-left:0;padding-right:0')
    #sliderbg
      div.flexslider
        ul.slides
          li
            include ../celeb/ellen-banner
          li
            include ../celeb/pharrell-banner
