block content
  .homeItems
    .container
      .divider
        i.fa.fa-star.blue-raffle
      h3.text-center.text-uppercase.htitle ENTER TO WIN
      .row.raffleItems
        rafflebox(ng-repeat='item in raffleitems', i='item')
    .container
      .divider
        i.fa.fa-star.yellow-bidding
      h3.text-center.text-uppercase.htitle START BIDDING
      .row.biddingItems
        biddingbox(ng-repeat='item in biddingitems', i='item')
