block content
  section.container.howSection
    h3.text-center.text-uppercase How it works
    .row
      .col-md-6
        .featured-box.border-only.text-center
          img(src='img/shop/bid.png', height='100', width='100')
          .box-content
            h4 Bidding
            div Highest Bidder Wins!
            br
            div Support a charity with every winning bid
      .col-md-6
        .featured-box.nobg.border-only.text-center
          img(src='img/shop/raffle.png', width='130')
          h4 Raffle Entry
          div Enter for a chance to win!
          br
          div All entries benefit the charity