block content
  section.container.howSection(ng-controller="homeCtrl")
    h3.text-center.text-uppercase How it works
    .row
      .col-md-4
        .featured-box.border-only.text-center
          img(src='img/shop/bid.png', height='100', width='100')
          .box-content
            h4 Bidding
            div Highest Bidder Wins!
            br
            div Support a charity with every winning bid
      .col-md-2
        button.btn.btn-default(ng-click='showYoutubeModal') See How It Works
      .col-md-4
        .featured-box.nobg.border-only.text-center
          img(src='img/shop/raffle.png', width='130')
          h4 Raffle Entry
          div Enter for a chance to win!
          br
          div All entries benefit the charity