block content
  .winners-section
    .container
      h3.text-center.text-uppercase.htitle Our winners
      .row
        .col-md-4.col-sm-4
          .winners-box.centered
            img.img-responsive(src='../img/winner/winner1.jpg', width='300', height='300')
        .col-md-4.col-sm-4
          .winners-box.centered
            img.img-responsive(src='../img/winner/winner2.jpg', width='300', height='300')
        .col-md-4.col-sm-4
          .winners-box.centered
            img.img-responsive(src='../img/winner/winner3.jpg', width='300', height='300')
