.modal-content
  .modal-header
    button.close(type='button', ng-click='cancel()') ×
    h4.modal-title DEZBO
  .modal-body
    div.text-center.video-container
      iframe(src='//www.youtube.com/embed/2FHcm2GHW6w', width='100%',height='100%' frameborder='0', allowfullscreen='')
