/** 10. .footer
 **************************************************************** **/
.footer {
  color: #87919F;
  font-size: 13px;
}
.footer a,
a:hover {
  color: #fff;
}
.footer ul,
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-bar {
  background: #292f38;
  display: block;
  position: relative;
  margin-top: 100px !important;
}
.footer-bar .copyright {
  display: inline-block;
  padding: 20px 0;
}
.footer-bar .toTop {
  position: absolute;
  right: 0;
  margin: 20px;
  display: inline-block;
  border-left: #403E44 1px dashed;
}
.footer-bar .toTop:hover {
  text-decoration: none;
}
/* columns */
.footer-content {
  background: #2E363F;
  border-top: #403E44 1px dashed;
  padding: 30px 0;
  display: block;
}
.footer-content h3 {
  color: #fff !important;
  font-weight: 200;
  font-size: 16px;
}
.column {
  display: block;
  height: 100%;
}
/* logo */
.column.logo {
  position: relative;
  background: #292f38;
  display: block;
  margin-top: -30px;
  margin-bottom: -30px;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.column.logo h4 {
  color: #fff;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
.faqSetion a:hover {
  cursor: pointer;
}
