.slider-caption {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
  /* FF3+, Saf3+, Opera 10.10+, Chrome, IE9 */
  bottom: 0;
  color: #fff;
  display: block;
  left: 0;
  padding: 1em;
  position: absolute;
  width: 100%;
  zoom: 1;
}
/* Minified FlexSlider CSS with Chrome fix */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: 0;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  /*-webkit-backface-visibility:hidden;*/
  position: relative;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .slides {
  display: block;
}
* html .slides {
  height: 1%;
}
.no-js .slides > li:first-child {
  display: block;
}
.flexslider {
  background: #fff;
  position: relative;
  zoom: 1;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
