doctype html
html(lang="en")
  include ../home/head
  body.boxed(id="topNav" ng-app="dezboapp")
    include ../home/navigation
    include ../home/flash
    block content
    include ../home/footer
    block scripts