extends ../layouts/layout
block content
  div#wrapper
    div.blog
      section.container
        div.container
          h3.text-center.text-uppercase.htitle Deadline
        div.blog-timeline
          article.timeline-item.pull-left
            div.item-date.raffle-date
              | 30
              span May
            div.item
              div.item-title.raffle-item
                h2
                  a.celebrity-name(href='ellen') Ellen Degeneres
                div
                  a.charity-name(href='http://www.gentlebarn.org') Supporting The Gentle Barn
              .description-box
                img.img-responsive(alt='', src='img/home1.png')
                p.description
                  | Help the animals at the Gentle Barn, Ellen's favorite charity, and get awesome items from Ellen at the
                  | same time!
                a.btn.btn-primary.item-btn.centered(href='ellen') ENTER TO WIN
          article.timeline-item.pull-right
            div.item-date.bidding-date
              | 2
              span Jun
            div.item
              div.item-title.bidding-item
                h2
                  a.celebrity-name(href='pharrell') Pharrell Williams
                div
                  a.charity-name(href='http://fohta.org') From One Hand To AnOther
              .description-box
                img.img-responsive(alt='', src='img/home2.png')
                p.description
                  | Support child safety and economic development for low-income communities in Jordan through Queen Rania’s
                  | JRF, and get awesome items from the Queen herself at the same time!
                a.btn.btn-warning.item-btn.centered(href='pharrell') BID NOW
          article.timeline-item.pull-left
            div.item-date.bidding-date
              | 8
              span Jun
            div.item
              div.item-title.bidding-item
                h2
                  a.celebrity-name(href='#') Kristen Bell
                div
                  a.charity-name(href='http://www.peta.org') Supporting PETA
              .description-box
                img.img-responsive(alt='', src='img/home3.png')
                p.description
                  | Support PETA through Kristen Bell (the “Sexiest Vegetarian Celebrity of 2013”) and enter for a chance to
                  | win unique items!
                a.btn.btn-warning.item-btn.centered(href='#') BID NOW
          article.timeline-item.pull-right
            div.item-date.raffle-date
              | 22
              span Jun
            div.item
              div.item-title.raffle-item
                h2
                  a.celebrity-name(href='#') Snoop
                div
                  a.charity-name(href='http://www.snoopyfl.net') Supporting Youth Football League Foundation
              .description-box
                img.img-responsive(alt='', src='img/home4.png')
                p.description
                  | Help the youth through Snoop’s own SYLF, and get awesome items from Snoop himself at the same time!
                a.btn.btn-primary.item-btn.centered(href='#') ENTER TO WIN
          article.timeline-item.pull-left
            div.item-date.bidding-date
              | 5
              span Jul
            div.item
              div.item-title.bidding-item
                h2
                  a.celebrity-name(href='#') Lady Gaga
                div
                  a.charity-name(href='http://www.bornthiswayfoundation.org') Supporting Born This Way Foundation
              .description-box
                img.img-responsive(alt='', src='img/home5.png')
                p.description
                  | Embrace differences and celebrate individuality through Lady Gaga’s BTWF while entering for a chance to
                  | win items offered by the pop queen herself
                a.btn.btn-warning.item-btn.centered(href='#') BID NOW
        // load more
        div.clearfix
        div.blog-timeline-load-more
          button.btn.btn-primary.btn-lg LOAD MORE
