extends ../layouts/layout
block content
  div#wrapper
    div.blog
      section.container
        div.container
          h2.text-center Deadline
        div.blog-timeline
          article.timeline-item.pull-left
            div.item-date
              | 30
              span May
            div.item
              // article title
              div.item-title
                h2
                  a(href='ellen') Ellen Degeneres
                div
                  a(href='http://www.gentlebarn.org') Supporting The Gentle Barn
              img.img-responsive(alt='', src='img/home1.png')
              p
                | Help the animals at the Gentle Barn, Ellen's favorite charity, and get awesome items from Ellen at the
                | same time!
              // read more button
              a.btn.btn-xs(href='ellen')
                i.fa.fa-sign-out
                | READ MORE
          article.timeline-item.pull-right
            div.item-date
              | 2
              span Jun
            div.item
              // article title
              div.item-title
                h2
                  a(href='pharrell') Pharrell Williams
                div
                  a(href='http://fohta.org') From One Hand To AnOther
              // image
              img.img-responsive(alt='', src='img/home2.png')
              // blog short preview
              p
                | Support child safety and economic development for low-income communities in Jordan through Queen Rania’s
                | JRF, and get awesome items from the Queen herself at the same time!
              // read more button
              a.btn.btn-xs(href='pharrell')
                i.fa.fa-sign-out
                | READ MORE
          article.timeline-item.pull-left
            div.item-date
              | 8
              span Jun
            div.item
              // article title
              div.item-title
                h2
                  a(href='#') Kristen Bell
                div
                  a(href='http://www.peta.org') Supporting PETA
              // image
              img.img-responsive(alt='', src='img/home3.png')
              // blog short preview
              p
                | Support PETA through Kristen Bell (the “Sexiest Vegetarian Celebrity of 2013”) and enter for a chance to
                | win unique items!
              // read more button
              a.btn.btn-xs(href='#')
                i.fa.fa-sign-out
                | READ MORE
          article.timeline-item.pull-right
            div.item-date
              | 22
              span Jun
            div.item
              // article title
              div.item-title
                h2
                  a(href='#') Snoop
                div
                  a(href='http://www.snoopyfl.net') Supporting Youth Football League Foundation
              // image
              img.img-responsive(alt='', src='img/home4.png')
              // blog short preview
              p
                | Help the youth through Snoop’s own SYLF, and get awesome items from Snoop himself at the same time!
              // read more button
              a.btn.btn-xs(href='#')
                i.fa.fa-sign-out
                | READ MORE
          article.timeline-item.pull-left
            div.item-date
              | 5
              span Jul
            div.item
              // article title
              div.item-title
                h2
                  a(href='#') Lady Gaga
                div
                  a(href='http://www.bornthiswayfoundation.org') Supporting Born This Way Foundation
              // image
              img.img-responsive(alt='', src='img/home5.png')
              // blog short preview
              p
                | Embrace differences and celebrate individuality through Lady Gaga’s BTWF while entering for a chance to
                | win items offered by the pop queen herself
              // read more button
              a.btn.btn-xs(href='#')
                i.fa.fa-sign-out
                | READ MORE
        // load more
        div.clearfix
        div.blog-timeline-load-more
          button.btn.btn-primary.btn-lg LOAD MORE
