.col-md-12
  h3.reward-heading CHOOSE YOUR REWARD:
.donorItems(ng-controller="donorCtrl")
  .container
    .row
      donorbox(ng-repeat='item in donoritems', i='item',index='index')
      .col-md-3.col-sm-4
        .thumbnail.centered
          figure
            img.img-responsive(src='img/product/ellenCustom.png', width='263', height='263', alt='')
          .donor-box
            .text-center
              .div.donor-title-amount-line.donor-custom-title-amount-line
                h5.donor-title.reward-heading-small Custom Amount
              .div.custom-donation-line.centered
                .custom-donation-sign.font-number $
                  input.custom-donation-input(type="number" step="any" min="1" value="10.00")
              p.reward-text.custom-prizes.text-capitalize Only $2 an entry
              button.btn.btn-primary.donor-box-button.centered DONATE NOW
      .col-md-3.col-sm-4
        .thumbnail.centered
          .text-center
            h5.reward-heading-small.please-note-heading Please Note:
            p.reward-text.please-note-body.centered
              b Levels 1-8:
              br
              | Prizes include items in the description plus all previous level items
              br
              br
              b Levels 9-10:
              br
              | Prizes include items in the description plus all items from levels 1-7
              br
              br
              b Shipping:
              br
              | Prizes include items in the description plus all previous level items
