h3(style='margin-left:40px;') CURRENT DONORS
div
  ul.paymentTicker
    li
      h4 Sherril Eure: $50
    li
      h4 Rolf Kirch : $12
    li
      h4 Diamond Brower: $19
    li
      h4 Arielle Coggins: $100
    li
      h4 Bradley Artis: $500
    li
      h4 Rudolf Hinojosa: $10
    li
      h4 Miriam Paxton: $1000

