.col-md-12
  h2 CHOOSE YOUR REWARD:
.donorItems(ng-controller="donorCtrl")
  .container
    .row
      .col-md-3.col-sm-4
        .thumbnail.centered
          .text-center
            h4.please-note-heading Please Note:
            p.text-xsmall.please-note-body.centered
              b Levels 1-8:
              br
              | Prizes include items in the description plus all previous level items
              br
              br
              b Levels 9-10:
              br
              | Prizes include items in the description plus all items from levels 1-7
              br
              br
              b Shipping:
              br
              | Rewards are shipped within 4-10 weeks from campaign close
      donorbox(ng-repeat='item in donoritems', i='item',index='index')
      .col-md-3.col-sm-4
        .thumbnail.centered
          figure
            img.img-responsive(src='img/product/ellenCustom.png', width='263', height='263', alt='')
          .donor-box
            .text-center
              .div.donor-title-amount-line.donor-custom-title-amount-line
                h4.donor-title Custom Amount
              .div.text-xlarge.custom-donation-line.centered
                p.text-number.custom-donation-sign $
                  input.custom-donation-input(type="number" step="any" min="1"
                    ng-model="customAmount" ng-init="customAmount=10")
              p.text-small.custom-prizes.text-capitalize Only $2 an entry
              button.btn.btn-primary.donor-box-button.centered(
                ng-click='donateAmount(customAmount * 100, "Custom Donation")') DONATE NOW

