.bg-ellen-banner
  .container-fluid
    .row
      div.col-md-6.col-md-offset-6(style='z-index:1')
        img.banner-img(src='../img/product/ellen-banner-sofa.png')
        div.banner-video
          img(src='../img/product/youtube-light-icon.png', width='50px')
        div.banner-text-bg
          div.banner-button-blue
            a(href='ellen#donors')
              button.btn.btn-primary.btn-lg.skew Enter To Win
          div.banner-text-width
            strong
              h2.text-uppercase Red Couch on the ellen show
            h4 Hundreds of celebrities sat here. Enter for a chance to win this unique couch and show it off to your friends at home. Sit where the celebrities sat!

