.bg-ellen-banner.hide-bg-sm
  .container-fluid
    .row
      div.col-md-6.col-md-offset-6.col-sm-11.col-sm-offset-1.col-xs-11.col-xs-offset-1(style='z-index:1')
        img.banner-img(src='../img/product/ellen-banner-sofa.png')
        div.banner-video
          button.btn.skew(style='width: 100px; height: 70px;', ng-click="showYoutubeModal()")
            img(src='../img/product/youtube-light-icon.png', width='50px')
        div.banner-text-bg
          div.banner-button-blue
            a(href='ellen')
              button.btn.btn-primary.btn-lg.skew Enter To Win
          div.banner-text-width.hide-content-sm
            strong
              h2 Red Couch on The Ellen Show
            h4.italic Hundreds of celebrities sat here. Enter for a chance to win this unique couch and show it off to your friends at home. Sit where the celebrities sat!
