extends ../layouts/layout
block content
  section.wrapper(ng-app='dezboapp' ng-controller='productCtrl')
    include ellen-title
    include ellen-banner
    .container
      .row(style='margin-top: 20px;')
        .col-md-2
          h2 GOAL:&nbsp;
            span.text-number $12,000
        .col-md-4
          .progress-bg-override
            progressbar(value='40', type='primary')
              span $4000
        .col-md-3.text-center.divider-left.divider-right
          h2 DAYS LEFT:&nbsp;
            span.text-number 23
        .col-md-3.text-center
          h2 SUPPORTERS:&nbsp;
            span.text-number 14
      .row#donors
        .col-md-12
          include donors
      .row
        include donorRewards
      .row
        .divider
          i.fa.fa-star.blue-raffle
      .row
        h1.text-center ABOUT THE GENTLE BARN
        .col-md-2.col-md-offset-2.pull-left
          a(href='http://www.gentlebarn.org')
            img(src='img/gentle_barn.png')
        .col-md-6.col-md-offset-1
          p.text-mid.charity-v-middle
            | The Gentle Barn is a nonprofit corporation. It was founded in 1999 by Ellie R. Laks and is now run by
            | Ellie and Jay Weiner, who joined forces in 2002. The Gentle Barn's mission is to provide sanctuary for
            | abused animals who would not otherwise be able to find homes.

block scripts
  script(src="https://checkout.stripe.com/v2/checkout.js")

  script.
    $(document).on("click", ".donor-box-button", function () {
      var token = function(res){
      var $input = $('<input type=hidden name=stripeToken />').val(res.id);
      $('form').append($input).submit();
      };
      StripeCheckout.open({
      key:         'pk_test_V9KoJMZboWIvd2ikQUHGWMUA',
      address:     true,
      amount:      5000,
      currency:    'usd',
      name:        'Dezbo',
      description: '{{i.donorTitle}}',
      panelLabel:  'Checkout',
      token:       token,
      image:       'img/logo_o.png'
      });
      return false;
    });
