extends ../layouts/layout
block content
  section.wrapper
    h1.text-center
      span.campaignHeading Ellen Degeneres&nbsp;
    div.text-center Supporting
      a(href='http://www.gentlebarn.org') &nbsp;The Gentle Barn
    include ellen-banner
    .divider
      i.fa.fa-leaf

