extends ../layouts/layout
block content
  section.wrapper(ng-app='dezboapp' ng-controller='productCtrl')
    h1.text-center
      span.campaignHeading Ellen Degeneres&nbsp;
    div.text-center Supporting
      a(href='http://www.gentlebarn.org') &nbsp;The Gentle Barn
    include ellen-banner
    .container
      .row(style='margin-top: 20px;')
        .col-md-2
          h2 GOAL:&nbsp;
            span.font-number $12,000
        .col-md-2.progress-bg-override(style='margin-top: 26px;margin-left:10px;')
          progressbar(value='40', type='primary')
            span $4000
        .col-md-3.text-center.divider-left.divider-right
          h2 DAYS LEFT:&nbsp;
            span.font-number 23
        .col-md-3.text-center
          h2 SUPPORTS:&nbsp;
            span.font-number 14
      .row
        h5(style='margin-left:40px;') CURRENT DONORS
        div#demo.scroll-box
          ul.list-inline
            li
              img(src='../img/logo_small.png')
            li
              img(src='../img/logo_small.png')
            li
              img(src='../img/logo_small.png')
            li
              img(src='../img/logo_small.png')
            li
              img(src='../img/logo_small.png')
            li
              img(src='../img/logo_small.png')
            //li Sherril Eure: $50
            //li Rolf Kirch : $12
            //li Diamond Brower: $19
            //li Arielle Coggins: $100
            //li Bradley Artis: $500
            //li Rudolf Hinojosa: $10
            //li Miriam Paxton: $1000
      .row
        h2.text-center CHOOSE YOUR REWARD
      .row
        .divider
          i.fa.fa-star.color-bidding
      .row
        h2.text-center ABOUT THE GENTLE BARN
        .col-md-2.col-md-offset-2.pull-left
          a(href='http://www.gentlebarn.org')
            img(src='img/gentle_barn.png')
        .col-md-6.col-md-offset-1
          h4.chairty-v-middle
            | The Gentle Barn is a nonprofit corporation. It was founded in 1999 by Ellie R. Laks and is now run by
            | Ellie and Jay Weiner, who joined forces in 2002. The Gentle Barn's mission is to provide sanctuary for
            | abused animals who would not otherwise be able to find homes.
