extends ../layouts/layout
block content
  section.wrapper
    h1.text-center
      span.campaignHeading Ellen Degeneres&nbsp;
    div.text-center Supporting
      a(href='http://www.gentlebarn.org') &nbsp;The Gentle Barn
    include ellen-banner
    .container
      .row
        .col-md-4
          h2 GOAL: $12000
        .col-md-4
          h2 DAYS LEFT: 23
        .col-md-4
          h2 SUPPORTS: 14
      .row
        h5(style='margin-left:40px;') CURRENT DONORS
        div#demo(style='height:60px;overflow: hidden;margin-bottom:10px;')
          ul
            li Sherril Eure: $50
            li Rolf Kirch : $12
            li Diamond Brower: $19
            li Arielle Coggins: $100
            li Bradley Artis: $500
            li Rudolf Hinojosa: $10
            li Miriam Paxton: $1000
      .row
        h2 CHOOSE YOUR REWARD
      .row
        .divider
          i.fa.fa-leaf
      .row
        h2 ABOUT THE GENTLE BARN
        .col-md-4.text-center
          a(href='http://www.gentlebarn.org')
            img(src='img/gentle_barn.png')
        .col-md-8
          | The Gentle Barn is a nonprofit corporation. It was founded in 1999 by Ellie R. Laks and is now run by
          | Ellie and Jay Weiner, who joined forces in 2002. The Gentle Barn's mission is to provide sanctuary for
          | abused animals who would not otherwise be able to find homes.
