.bg-ellen-banner
  .container-fluid
    .row
      div.text-center
        div
          img.banner-img(src='../img/product/ellen-banner.png')
        .banner-text.col-md-4.col-md-offset-6
          h2 Red Couch on the ellen show
          h4 Hundreds of celebrities sat here. Enter for a chance to win this unique couch and show it off to your friends at home. Sit where the celebrities sat!
