extends ../layouts/layout
block content
  section.wrapper(ng-app='dezboapp' ng-controller='productCtrl')
    h1.text-center
      span.campaignHeading Ellen Degeneres&nbsp;
    div.text-center Supporting
      a(href='http://www.gentlebarn.org') &nbsp;The Gentle Barn
    include ellen-banner
    .container
      .row(style='margin-top: 20px;')
        .col-md-2
          h2 GOAL:&nbsp;
            span.font-number $12,000
        .col-md-4.progress-bg-override
          progressbar(value='40', type='primary')
            span $4000
        .col-md-3.text-center.divider-left.divider-right
          h2 DAYS LEFT:&nbsp;
            span.font-number 23
        .col-md-2.text-center
          h2 SUPPORTS:&nbsp;
            span.font-number 14
      .row
        h3(style='margin-left:40px;') CURRENT DONORS
        div
          ul.paymentTicker
            li
              h4 Sherril Eure: $50
            li
              h4 Rolf Kirch : $12
            li
              h4 Diamond Brower: $19
            li
              h4 Arielle Coggins: $100
            li
              h4 Bradley Artis: $500
            li
              h4 Rudolf Hinojosa: $10
            li
              h4 Miriam Paxton: $1000
      .row
        h3.bold.reward-heading CHOOSE YOUR REWARD:
        .donorItems(ng-controller="donorCtrl")
          .container
            .row.donorItems
              donorbox(ng-repeat='item in donoritems', i='item')
              .col-md-3.col-sm-4
                .thumbnail.centered
                  figure
                    img.img-responsive(src='img/product/ellenThankYou.png', width='263', height='263', alt='')
                  .donor-box
                    .text-center
                      .div.donor-title-amount-line.donor-custom-title-amount-line
                        .donor-title.bold.text-uppercase Custom Amount
                      .div.custom-donation-line.centered
                        .custom-donation-sign.font-number $
                          input.custom-donation-input(type="text" pattern="[0-9]*" align="left")
                      .prizes.custom-prizes.centered Only $2 an entry
                      button.btn.btn-primary.donor-box-button.centered DONATE NOW

      .row
        .divider
          i.fa.fa-star.blue-raffle
      .row
        h2.text-center ABOUT THE GENTLE BARN
        .col-md-2.col-md-offset-2.pull-left
          a(href='http://www.gentlebarn.org')
            img(src='img/gentle_barn.png')
        .col-md-6.col-md-offset-1
          h4.chairty-v-middle
            | The Gentle Barn is a nonprofit corporation. It was founded in 1999 by Ellie R. Laks and is now run by
            | Ellie and Jay Weiner, who joined forces in 2002. The Gentle Barn's mission is to provide sanctuary for
            | abused animals who would not otherwise be able to find homes.
