.bg-ellen-banner
  .container-fluid
    .row
      div.col-md-6.col-md-offset-6
        img.banner-img(src='../img/product/ellen-banner-sofa.png')
        div.banner-text-bg
          div.banner-text-width
            strong
              h2 Red Couch on the ellen show
            h4 Hundreds of celebrities sat here. Enter for a chance to win this unique couch and show it off to your friends at home. Sit where the celebrities sat!

