extends ../layouts/layout
block content
  section.wrapper(ng-app='dezboapp' ng-controller='productCtrl')
    h3.text-center.text-uppercase.htitle Pharrell Williams
    p.bodytext.text-center Supporting&nbsp;
      a.grey-link(href='http://fohta.org/') From One Hand to AnOther
    include pharrell-banner
    .container
      h3.product-heading PHARRELL'S TALL HAT
      .pharrell-product-bar
        .row
          .col-md-6
            img.img-responsive(src='../img/product/pharrell-hat.jpg', width='100%', height='auto')
            p
              | Pharrell Williams has been called many things: Musician. Producer. Entrepreneur. And
              | above all, wearer of hats. Big ones, small ones, but always unique ones. Here’s a
              | collection of some chapeaux he has worn in the past—and a few he plans to wear in
              | the near future. So take your pick and get "Happy" with this collection of tip-top
              | toppers.
          .col-md-6
            .pharrell-bid-columns.text-center
              h3.product-heading CURRENT BID:
              h4.font-number $655
            .pharrell-bid-columns.text-center
              h3.product-heading BIDS:
              h4.font-number 4
            .pharrell-bid-columns.text-center
              h3.product-heading ESTIMATED VALUE:
              h4.font-number $2,000
      .row
        .divider
          i.fa.fa-star.yellow-bidding
      .row
        h2.text-center ABOUT FROM ONE HAND TO ANOTHER
        .col-md-2.col-md-offset-2.pull-left
          a(href='http://fohta.org/')
            img(src='img/fohta-logo.png')
        .col-md-6.col-md-offset-1
          h4.chairty-v-middle
            | From One Hand To AnOTHER (FOHTA) is a 501 C3 Not for Profit Foundation established by Pharrell
            | Williams to provide educational S.T.E.A.M.M. (Science, Technology, Engineering, Arts, Mathematics,
            | and Motivation) related tools needed for the future success of children.
