<<<<<<< HEAD
.bg-pharrell-banner
  .container-fluid
    .row
      div.col-md-6.col-md-offset-6(style='z-index:1')
        div(style='height:287px;')
        div.banner-video
          img(src='../img/product/youtube-light-icon.png', width='50px')
        div.banner-text-bg
          div.banner-button-yellow
            a(href='pharrell')
              button.btn.btn-warning.btn-lg.skew Bid Now
          div.banner-text-width
            strong
              h2 Pharrell's Hat
            .white.banner-countdown
              h3
                timer(start-time="1401000000101")
                  span {{days}} days&nbsp;
                  span {{hours}} hours&nbsp;
                  span {{minutes}} minutes&nbsp;
                  span {{seconds}} seconds&nbsp;
