.container-fluid.bg-white
  .row
    .bg-pharrell-banner.col-md-6
    div.col-md-6(style='z-index:1')
      div(style='height:220px;').hide-height-sm
      div.pharrell-banner-video
        button.btn.skew(style='width: 100px; height: 70px;', ng-click="showYoutubeModal()")
          img(src='../img/product/youtube-light-icon.png', width='50px')
      div.pharrell-banner-text-bg
        div.banner-button-yellow
          a(href='pharrell')
            button.btn.btn-warning.btn-lg.skew Bid Now
        div.banner-text-width
          strong
            h1 Pharrell's Hat
          .white.banner-countdown
            timer(start-time="1401000000101")
              span.timerblock
                h1 {{days}}&nbsp;
                span days&nbsp;
              span.timerblock
                h1 {{hours}}&nbsp;
                span hours&nbsp;
              span.timerblock
                h1 {{minutes}}&nbsp;
                span  minutes&nbsp;
              span.timerblock
                h1 {{seconds}}&nbsp;
                span seconds&nbsp;
