doctype html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd"
head
  meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
  body(style='padding: 0; width: 100% !important; -webkit-text-size-adjust: 100%; margin: 0; -ms-text-size-adjust: 100%;', marginheight='0', marginwidth='0')
    //- -----------------------------------------------------------------------------------
    //- Only Edit Here
    //- -----------------------------------------------------------------------------------
    p Hello #{name}!
    p
      | We would like to welcome you as our newest member!
    p