block content
  div.flexslider
    ul.slides
      li
        span.slider-caption
          h1.black
            | Ellen Degeneres
            br
          h3.black
            | Supporting
            br
            | The Gentle Barn
            br
          button.btn.btn-primary.btn-lg
            | Learn more
        img(src='img/home1.png')
      li
        span.slider-caption
          h1.black
            | Pharrell Williams
            br
          h3.black
            | Supporting
            br
            | From One Hand To Another
            br
          button.btn.btn-primary.btn-lg
            | Learn more
        img(src='img/home2.png')
      li
        span.slider-caption
          h1.white
            | Kristen Bell
            br
          h3.white
            | Supporting
            br
            | PETA
            br
          button.btn.btn-primary.btn-lg
            | Learn more
        img(src='img/home3.png')
      li
        span.slider-caption
          h1.white
            | Snoop
            br
          h3.white
            | Supporting
            br
            | Youth Football League Foundation
            br
          button.btn.btn-primary.btn-lg
            | Learn more
        img(src='img/home4.png')
      li
        span.slider-caption
          h1.white
            | Lady Gaga
            br
          h3.white
            | Supporting
            br
            | Born This Way Foundation
            br
          button.btn.btn-primary.btn-lg
            | Learn more
        img(src='img/home5.png')
  div.slider-border &nbsp;