block content
  div.flexslider
    ul.slides
      li
        span.slider-caption.slider-font
          h1
            | Ellen Degeneres
            br
          h3
            | Supporting
            br
            | The Gentle Barn
            br
          button.btn.btn-lg.btn-success
            | Learn more
        img(src='img/home1.png')
      li
        span.slider-caption.slider-font
          h1
            | Queen Rania Al Abdullah of Jordan
            br
          h3
            | Supporting
            br
            | Jordan River Foundation
            br
          button.btn.btn-lg.btn-success
            | Learn more
        img(src='img/home2.png')
      li
        span.slider-caption.slider-font
          h1
            | Kristen Bell
            br
          h3
            | Supporting
            br
            | PETA
            br
          button.btn.btn-lg.btn-success
            | Learn more
        img(src='img/home3.png')
      li
        span.slider-caption.slider-font
          h1
            | Snoop
            br
          h3
            | Supporting
            br
            | Youth Football League Foundation
            br
          button.btn.btn-lg.btn-success
            | Learn more
        img(src='img/home4.png')
      li
        span.slider-caption.slider-font
          h1
            | Lady Gaga
            br
          h3
            | Supporting
            br
            | Born This Way Foundation
            br
          button.btn.btn-lg.btn-success
            | Learn more
        img(src='img/home5.png')
  div.slider-border &nbsp;