block content
  section.container
    .row
      h1
      |Popular Items
      ul.sort-destination.isotope(data-sort-id='isotope-list')
      li.isotope-item.col-md-3.bid
        // item 1
        .item-box.fixed-box
          figure
            img.img-responsive(src='img/shop/ellen1_small.png', width='263', height='263', alt='')
          .item-box-desc
            h4 Ellen’s Red Couch on the Ellen Show
            br
            a(href='ellen.html')
              img(width='80', height='80', src='img/shop/bid.png')
            div
              | Current Bid:
              strong $1150.00
            div
              | Ending
              strong May 30, 2014/
            p
              | Supporting
              a(href='www.gentlebarn.org') The Gentle Barn
      li.isotope-item.col-md-3.buyitnow
        // item 2
        .item-box.fixed-box
          figure
            img.img-responsive(src='img/shop/ellen4_small.png', width='263', height='263', alt='')
          .item-box-desc
            h4 Ellen’s signed Oscars Selfie
            br
            a(href='ellen.html')
              img(width='80', height='80', src='img/shop/buy.png')
            div
              | Price:
              strong $800.00
            div
              | Ending
              strong May 30, 2014
            p
              | Supporting
              a(href='www.gentlebarn.org') The Gentle Barn
      li.isotope-item.col-md-3.contest
        // item 3
        .item-box.fixed-box
          figure
            img.img-responsive(src='img/shop/snoop1_small.png', width='263', height='263', alt='')
          .item-box-desc
            h4 Snoop’s Stage Mic
            br
            br
            a(href='snoop.html')
              img(width='80', height='80', src='img/shop/contest.png')
            div
              | Ending
              strong Jun 22, 2014
            p
              | Supporting
              a(href='www.snoopyfl.net"') Youth Football League Foundation
      li.isotope-item.col-md-3.buyitnow
        // item 4
        .item-box.fixed-box
          figure
            img.img-responsive(src='img/shop/snoop5_small.png', width='263', height='263', alt='')
          .item-box-desc
            h4 Snoop’s Sunglasses
            br
            br
            a(href='snoop.html')
              img(width='80', height='80', src='img/shop/buy.png')
            div
              | Price:
              strong $250.00
            div
              | Ending
              strong Jun 22, 2014
            div
              | Supporting
              a(href='www.snoopyfl.net"') Youth Football League Foundation
      li.isotope-item.col-md-3.buyitnow
        // item 5
        .item-box.fixed-box
          figure
            img.img-responsive(src='img/shop/kristine1_small.png', width='263', height='263', alt='')
          .item-box-desc
            h4 Kristen Bell’s Camera in ‘Veronica Mars’
            br
            a(href='ellen.html')
              img(width='80', height='80', src='img/shop/buy.png')
            div
              | Price:
              strong $1500.00
            div
              strong Ending Jun 8, 2014
            p
              | Supporting
              a(href='www.peta.org"') PETA
      li.isotope-item.col-md-3.contest
        // item 6
        .item-box.fixed-box
          figure
            img.img-responsive(src='img/shop/queen1_small.png', width='263', height='263', alt='')
          .item-box-desc
            h4 Queen Rania’s Autographed Book
            br
            a(href='ellen.html')
              img(width='80', height='80', src='img/shop/contest.png')
            div
              | Ending
              strong Jun 2, 2014
            br
            p
              | Supporting
              a(href='www.jordanriver.jo"') Jordan River Foundation
      li.isotope-item.col-md-3.contest
        // item 7
        .item-box.fixed-box
          figure
            img.img-responsive(src='img/shop/gaga1_small.png', width='263', height='263', alt='')
          .item-box-desc
            h4 Lady Gaga’s Red Carpet Heels
            br
            a(href='ellen.html')
              img(width='80', height='80', src='img/shop/contest.png')
            div
              | Ending
              strong Jul 5, 2014
            br
            p
              | Supporting
              a(href='www.bornthiswayfoundation.org/"') Born This Way Foundation
      li.isotope-item.col-md-3.bid
        // item 8
        .item-box.fixed-box
          figure
            img.img-responsive(src='img/shop/gaga4_small.png', width='263', height='263', alt='')
          .item-box-desc
            h4 Lady Gaga’s Gloves
            br
            br
            a(href='ellen.html')
              img(width='80', height='80', src='img/shop/bid.png')
            div
              | Current Bid:
              strong $784.00
            div
              | Ending
              strong Jul 5, 2014
            p
              | Supporting
              a(href='www.bornthiswayfoundation.org/"') Born This Way Foundation

