block content
  .divider
    i.fa.fa-star
  .container
    .row
      h3.text-center.text-uppercase Bidding
      br
      .col-md-3.col-sm-4
        .thumbnail.border-fade
          figure
            img.img-responsive(src='img/shop/ellen4_small.png', width='263', height='263', alt='')
          .item-box
            h5 Ellen’s signed Oscars Selfie
            .bidprice
              | Current Bid:
              strong $350.00
            .countdown.white
              timer(start-time="1401000000000")
                | {{days}} d - {{hours}}h:{{minutes}}m:{{seconds}}s
            .support
              | Supporting 
              a(href='www.gentlebarn.org') The Gentle Barn
      .col-md-3.col-sm-4
        .thumbnail.border-fade
          figure
            img.img-responsive(src='img/shop/snoop5_small.png', width='263', height='263', alt='')
          .item-box
            h5 Snoop’s Sunglasses
            .bidprice
              | Current Bid:
              strong $250.00
            .countdown.white
              timer(start-time="1400800000000")
                | {{days}} d - {{hours}}h:{{minutes}}m:{{seconds}}s
            .support
              | Supporting 
              a(href='www.snoopyfl.net"') Youth Football League Foundation
      .col-md-3.col-sm-4
        .thumbnail.border-fade
          figure
            img.img-responsive(src='img/shop/gaga4_small.png', width='263', height='263', alt='')
          .item-box
            h5 Lady Gaga’s Gloves
            div
              | Current Bid:
              strong $784.00
            .countdown.white
              timer(start-time="1401000000000")
                | {{days}} d - {{hours}}h:{{minutes}}m:{{seconds}}s
            .support
              | Supporting 
              a(href='www.bornthiswayfoundation.org/"') Born This Way Foundation
      .col-md-3.col-sm-4
        .thumbnail.border-fade
          figure
            img.img-responsive(src='img/shop/kristine1_small.png', width='263', height='263', alt='')
          .item-box
            h5 Kristen Bell’s Camera in ‘Veronica Mars’
            div
              | Current Bid:
              strong $1500.00
            .countdown.white
              timer(start-time="1401100000000")
                | {{days}} d - {{hours}}h:{{minutes}}m:{{seconds}}s
            .support
              | Supporting 
              a(href='www.peta.org"') PETA
  .divider
    i.fa.fa-star
  .container
    h3.text-center.text-uppercase Enter to win
    br
    .row
      .col-md-3.col-sm-4
        .thumbnail.border-fade
          figure
            img.img-responsive(src='img/shop/queen1_small.png', width='263', height='263', alt='')
          .item-box
            h5 Queen Rania’s Autographed Book
            a(href='ellen.html')
              button.btn.btn-primary Enter to win
            div
              | Ending
              strong Jun 2, 2014
            br
            .support
              | Supporting 
              a(href='www.jordanriver.jo"') Jordan River Foundation
      .col-md-3.col-sm-4
        .thumbnail.border-fade
          figure
            img.img-responsive(src='img/shop/gaga1_small.png', width='263', height='263', alt='')
          .item-box
            h5 Lady Gaga’s Red Carpet Heels
            a(href='ellen.html')
              button.btn.btn-primary Enter to win
            div
              | Ending
              strong Jul 5, 2014
            br
            .support
              | Supporting 
              a(href='www.bornthiswayfoundation.org/"') Born This Way Foundation
      .col-md-3.col-sm-4
        .thumbnail.border-fade
          figure
            img.img-responsive(src='img/shop/snoop1_small.png', width='263', height='263', alt='')
          .item-box
            h5 Snoop’s Stage Mic
            a(href='snoop.html')
              button.btn.btn-primary Enter to win
            div
              | Ending
              strong Jun 22, 2014
            .support
              | Supporting 
              a(href='www.snoopyfl.net"') Youth Football League Foundation
      .col-md-3.col-sm-4
        .thumbnail.border-fade
          figure
            img.img-responsive(src='img/shop/ellen1_small.png', width='263', height='263', alt='')
          .item-box
            h5 Ellen’s Red Couch on the Ellen Show
            a(href='ellen.html')
              button.btn.btn-primary Enter to win
            div
              | Current Bid:
              strong $1150.00
            .support
              | Supporting 
              a(href='www.gentlebarn.org') The Gentle Barn
