block content
  .container.shop
    h3.text-center
      strong Popular Items
    .row
      .col-md-3.col-sm-4
        .thumbnail.curl-top-right.border-fade
          figure
            img.img-responsive(src='img/shop/ellen1_small.png', width='263', height='263', alt='')
          .item-box
            h5 Ellen’s Red Couch on the Ellen Show
            a(href='ellen.html')
              button.btn.btn-success Bid
            div
              | Current Bid:
              strong $1150.00
            div
              | Ending
              strong May 30, 2014
            .support
              | Supporting 
              a(href='www.gentlebarn.org') The Gentle Barn
      .col-md-3.col-sm-4
        .thumbnail.curl-top-right.border-fade
          figure
            img.img-responsive(src='img/shop/ellen4_small.png', width='263', height='263', alt='')
          .item-box
            h5 Ellen’s signed Oscars Selfie
            a(href='ellen.html')
              button.btn.btn-success Buy
            div
              | Price:
              strong $800.00
            div
              | Ending
              strong May 30, 2014
            .support
              | Supporting
              a(href='www.gentlebarn.org') The Gentle Barn
      .col-md-3.col-sm-4
        .thumbnail.curl-top-right.border-fade
          figure
            img.img-responsive(src='img/shop/snoop1_small.png', width='263', height='263', alt='')
          .item-box
            h5 Snoop’s Stage Mic
            a(href='snoop.html')
              button.btn.btn-success Raffle
            div
              | Ending
              strong Jun 22, 2014
            .support
              | Supporting 
              a(href='www.snoopyfl.net"') Youth Football League Foundation
      .col-md-3.col-sm-4
        .thumbnail.curl-top-right.border-fade
          figure
            img.img-responsive(src='img/shop/snoop5_small.png', width='263', height='263', alt='')
          .item-box
            h5 Snoop’s Sunglasses
            a(href='snoop.html')
              button.btn.btn-success Buy
            div
              | Price:
              strong $250.00
            div
              | Ending
              strong Jun 22, 2014
            .support
              | Supporting 
              a(href='www.snoopyfl.net"') Youth Football League Foundation
      
      .col-md-3.col-sm-4
        .thumbnail.curl-top-right.border-fade
          figure
            img.img-responsive(src='img/shop/kristine1_small.png', width='263', height='263', alt='')
          .item-box
            h5 Kristen Bell’s Camera in ‘Veronica Mars’
            a(href='ellen.html')
              button.btn.btn-success Buy
            div
              | Price:
              strong $1500.00
            div
              strong Ending Jun 8, 2014
            .support
              | Supporting 
              a(href='www.peta.org"') PETA
      .col-md-3.col-sm-4
        .thumbnail.curl-top-right.border-fade
          figure
            img.img-responsive(src='img/shop/queen1_small.png', width='263', height='263', alt='')
          .item-box
            h5 Queen Rania’s Autographed Book
            a(href='ellen.html')
              button.btn.btn-success Raffle
            div
              | Ending
              strong Jun 2, 2014
            br
            .support
              | Supporting 
              a(href='www.jordanriver.jo"') Jordan River Foundation
      .col-md-3.col-sm-4
        .thumbnail.curl-top-right.border-fade
          figure
            img.img-responsive(src='img/shop/gaga1_small.png', width='263', height='263', alt='')
          .item-box
            h5 Lady Gaga’s Red Carpet Heels
            a(href='ellen.html')
              button.btn.btn-success Raffle
            div
              | Ending
              strong Jul 5, 2014
            br
            .support
              | Supporting 
              a(href='www.bornthiswayfoundation.org/"') Born This Way Foundation
      .col-md-3.col-sm-4
        .thumbnail.curl-top-right.border-fade
          figure
            img.img-responsive(src='img/shop/gaga4_small.png', width='263', height='263', alt='')
          .item-box
            h5 Lady Gaga’s Gloves
            a(href='ellen.html')
              button.btn.btn-success Bid
            div
              | Current Bid:
              strong $784.00
            div
              | Ending
              strong Jul 5, 2014
            .support
              | Supporting 
              a(href='www.bornthiswayfoundation.org/"') Born This Way Foundation

