block content
  .wrapper
    .fullwidthbanner-container.roundedcorners
      .fullwidthbanner
        ul
          li(data-transition='random', data-slotamount='7', data-masterspeed='2000')
            img(src='img/dummy.png', alt='church3', data-lazyload='img/home1.png', data-fullwidthcentering='on')
            .tp-caption.large_text.lft(data-x='90', data-y='180', data-speed='2000', data-start='1000', data-easing='Sine.easeIn')
              | Ellen Degeneres
            .tp-caption.medium_text.lfb(data-x='90', data-y='222', data-speed='2000', data-start='1800', data-easing='Sine.easeIn')
              | Supporting
              br
              | The Gentle Barn
            .tp-caption.lfb(data-x='90', data-y='330', data-speed='2000', data-start='2500', data-easing='Sine.easeOut')
              a.btn.btn-primary.btn-lg(href='ellen') Learn More
          li(data-transition='random', data-slotamount='7', data-masterspeed='2000')
            img(src='img/dummy.png', alt='church1', data-lazyload='img/home2.png', data-fullwidthcentering='on')
            .tp-caption.large_text.lft(data-x='90', data-y='180', data-speed='2000', data-start='1000', data-easing='Power4.easeOut')
              | Queen Rania Al Abdullah of Jordan
            .tp-caption.medium_text.lfb(data-x='90', data-y='222', data-speed='2000', data-start='1800', data-easing='Power4.easeOut')
              | Supporting
              br
              | Jordan River Foundation
            .tp-caption.lfb(data-x='90', data-y='330', data-speed='2000', data-start='2500', data-easing='Power4.easeOut')
              a.btn.btn-primary.btn-lg(href='queen.html', target='_blank') Learn More
          li(data-transition='random', data-slotamount='7', data-masterspeed='2000')
            img(src='img/dummy.png', alt='church1', data-lazyload='img/home3.jpg', data-fullwidthcentering='on')
            .tp-caption.large_text.lft(data-x='90', data-y='180', data-speed='2000', data-start='1000', data-easing='Power4.easeOut')
              | Kristen Bell
            .tp-caption.medium_text.lfb(data-x='90', data-y='222', data-speed='2000', data-start='1800', data-easing='Power4.easeOut')
              | Supporting
              br
              | PETA
            .tp-caption.lfb(data-x='90', data-y='330', data-speed='2000', data-start='2500', data-easing='Power4.easeOut')
              a.btn.btn-primary.btn-lg(href='ellen.html', target='_blank') Learn More
          li(data-transition='random', data-slotamount='7', data-masterspeed='2000')
            img(src='img/dummy.png', alt='church1', data-lazyload='img/home4.jpg', data-fullwidthcentering='on')
            .tp-caption.large_text.lft(data-x='90', data-y='180', data-speed='2000', data-start='1000', data-easing='Power4.easeOut')
              | Snoop
            .tp-caption.medium_text.lfb(data-x='90', data-y='222', data-speed='2000', data-start='1800', data-easing='Power4.easeOut')
              | Supporting
              br
              | Youth Football League Foundation
            .tp-caption.lfb(data-x='90', data-y='330', data-speed='2000', data-start='2500', data-easing='Power4.easeOut')
              a.btn.btn-primary.btn-lg(href='snoop.html', target='_blank') Learn More
          li(data-transition='random', data-slotamount='7', data-masterspeed='2000')
            img(src='img/dummy.png', alt='church1', data-lazyload='img/home5.jpg', data-fullwidthcentering='on')
            .tp-caption.large_text.lft(data-x='90', data-y='180', data-speed='2000', data-start='1000', data-easing='Power4.easeOut')
              | Lady Gaga
            .tp-caption.medium_text.lfb(data-x='90', data-y='222', data-speed='2000', data-start='1800', data-easing='Power4.easeOut')
              | Supporting
              br
              | Born This Way Foundation
            .tp-caption.lfb(data-x='90', data-y='330', data-speed='2000', data-start='2500', data-easing='Power4.easeOut')
              a.btn.btn-primary.btn-lg(href='ellen.html', target='_blank') Learn More
        .tp-bannertimer
