block content
  section.container.howSection
    h3.text-center.text-uppercase How it works
    .row
      .col-md-6
        .featured-box.border-only.text-center
          img(src='img/shop/bid_icon.png', height='100', width='100')
          .box-content
            h4 Bidding
            div Highest Bidder Wins!
            br
            div Support a charity with every winning bid
      .col-md-6
        .featured-box.nobg.border-only.text-center
          img(src='img/shop/raffle_icon.png', width='130')
          h4 Raffle Entry
          div Enter for a chance to win!
          br
          div All entries benefit the charity
      //.col-md-4
      //  .featured-box.border-only.text-center
      //    img(src='img/shop/buy.png', height='100', width='100')
      //    h4 Buy it Now
      //    div Buy your favourite item!
      //    br
      //    div Proceeds can help a cause
