.col-md-3.col-sm-4
  .thumbnail.centered
    figure
      img.img-responsive(src='{{i.imageURL}}', width='263', height='263', alt='')
    .item-box
      .text-center
        h5 {{i.celebName}}
        h3.item-name {{i.itemName}}
        h5 SUPPORTING
        p.text-small.charity-name {{i.charityName}}
        p.text-xxlarge.text-number {{i.currentBid}}
        h5 Current Bid
        button.btn.btn-warning.item-box-button.centered BID NOW
        h6.countdown Ends {{i.ending}}
