.col-md-3.col-sm-4
  .thumbnail
    figure
      img.img-responsive(src='{{i.imageURL}}', width='263', height='263', alt='')
    .item-box
      .text-center.text-uppercase
        .celebrity-name.bold {{i.celebName}}
        .item-name.bold{{i.itemName}}
        .support.bold SUPPORTING
        .charity-name {{i.charityName}}
        .bidprice {{i.currentBid}}
        .bidtitle.bold Current Bid
        button.btn.btn-warning.item-box-button BID NOW
        .countdown
          timer(start-time="1401000000101") {{days}} d - {{hours}}h:{{minutes}}m:{{seconds}}s
