.col-md-3.col-sm-4
  .thumbnail.centered
    figure
      img.img-responsive(src='{{i.imageURL}}', width='263', height='263', alt='')
    .donor-box
      .text-center
        h4.donor-title.bold {{i.donorTitle}}
        .font-number.bold {{i.donationAmount}}
        h5 {{i.prizes}}
        button.btn.btn-primary.donor-box-button.centered DONATE NOW
