.col-md-3.col-sm-4
  .thumbnail.centered
    figure
      img.img-responsive(src='{{i.imageURL}}', width='263', height='263', alt='')
    .donor-box
      .triangle
        .triangle-text {{$parent.$index + 1}}
      .text-center
        .div.donor-title-amount-line
          h4.donor-title {{i.donorTitle}}&nbsp;
          p.text-xlarge.donation-amount.text-number {{i.donationAmount}}
        p.text-small.prizes.centered.text-capitalize {{i.prizes}}
        button.btn.btn-primary.donor-box-button.centered DONATE NOW
