.col-md-3.col-sm-4
  .thumbnail.centered
    figure
      img.img-responsive(src='{{i.imageURL}}', width='263', height='263', alt='')
    .donor-box
      .triangle
        .triangle-text {{$index + 1}}
      .text-center
        .div.donor-title-amount-line
          .donor-title.bold.text-uppercase {{i.donorTitle}}
          .donation-amount.font-number {{i.donationAmount}}
        .prizes.centered {{i.prizes}}
        button.btn.btn-primary.donor-box-button.centered DONATE NOW
