.col-md-3.col-sm-4()
  .thumbnail
    figure
      img.img-responsive(src='{{i.imageURL}}', width='263', height='500', alt='')
    .item-box
      .text-center.text-uppercase
        .celebrity-name.bold {{i.celebName}}
        .item-name.bold {{i.itemName}}
        .support.bold SUPPORTING
        .charity-name {{i.charityName}}
        button.btn.btn-primary.item-box-button ENTER TO WIN
        .countdown.gray-darker
          | Ending {{i.ending}}
