.col-md-3.col-sm-4()
  .thumbnail
    figure
      img.img-responsive(src='{{i.imageURL}}', width='263', height='500', alt='')
    .item-box
      .text-center.text-uppercase
        h5.celebrity-name.bold {{i.celebName}}
        h4.item-name.bold {{i.itemName}}
        h5.support.bold SUPPORTING
        h6.charity-name {{i.charityName}}
        button.btn.btn-primary.item-box-button ENTER TO WIN
        h5.countdown.gray-darker Ends {{i.ending}}
