.col-md-3.col-sm-4()
  .thumbnail
    figure
      img.img-responsive(src='{{i.imageURL}}', width='263', height='500', alt='')
    .item-box
      h5.celebrity-name.text-center.text-uppercase {{i.celebName}}
      h2.item-name.text-center.text-uppercase {{i.itemName}}
      .support.text-center.text-uppercase SUPPORTING
      .charity-name.text-center.text-uppercase {{i.charityName}}
      button.btn.btn-primary.item-box-button ENTER TO WIN
      .countdown.gray-darker.text-center.text-uppercase
        | Ending {{i.ending}}
